*{
	box-sizing: border-box;
}
body{
	margin: 0px;
	padding: 0px;
	font-family:poppins;

}

.nav{
	width: 100%;
	height: 10vh;
	position: fixed;
	overflow: hidden;

}
nav{
	display: flex;
	overflow: hidden;
	justify-content: space-around;
	align-items: center;
	position: fixed;
	top:0;
	left:0;
	width: 100%;
	background: white;
	box-shadow: 5px 10px 20px #7F7575;
	
	
}
.menu{
	list-style: none;
	display: flex;
	
}
.menu li a{
	text-decoration: none;
	height: 40px;
	line-height: 42px;
	margin:4px;
	padding: 0px 22px;
	display: flex;
	font-size: 20px;
	font-weight: 500;
	letter-spacing: 1px;
	color:#312F2F;
	
}
.content{
	background: white;
	margin-top: 20vh;
	display: flex;
	width: 100%;
	height: 100%;
	justify-content: space-around;
	align-items: center;
	position: absolute;
}
.content p{
	font-size: 25px;
	margin-left: 10px;
}
.content h2{
	color: #862EA7;
	font-size: 45px;

}

.content  a{
	color: #8A06B0;
	text-decoration: none;
	font-size: 30px;
	
	padding: 8px;
	margin-left: 40vh;
	margin-top: 30vh;
	display: flex;
	justify-content: space-around;
	align-items: center;
	position: absolute;

}
.content  a:hover{
	box-shadow: 5px 10px 20px #7F7575;
	transition: all ease 0.3s;
}

.menu li a:hover{
	box-shadow: 5px 10px 20px #7F7575;
	color: #862EA7;
	transition: all ease 0.3s;
}